::ng-deep .fill-screen-modal {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 28px;
    }
}

.copy-error-icon {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    line-height: 1;
}

.error-message-text {
    max-width: 500px;
}

@media only screen and (min-width: 992px) {
    .error-dialog-content--with-details {
        gap: 0.25rem !important;
    }
}