<div
  class="printing-house-management-page"
  [class.zx-rtl]="isRTL"
  [class.printing-house-management-page--dark]="isDarkMode">
  <div *ngIf="isLoading" class="ph-mgmt-state">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div *ngIf="!isLoading && hasError" class="ph-mgmt-state ph-mgmt-state--error">
    <div>{{ 'management.printing-house.load-failed' | translate }}</div>
    <button mat-stroked-button color="primary" type="button" (click)="load()">
      {{ 'management.printing-house.retry' | translate }}
    </button>
  </div>

  <ng-container *ngIf="!isLoading && !hasError && printingHouse">
    <header class="ph-mgmt-header" [class.ph-mgmt-header--dark]="isDarkMode">
      <div class="ph-mgmt-header__inner">
        <div *ngIf="logoUrl" #logoViewport class="ph-mgmt-header__logo logo-crop-viewport">
          <img
            #logoImg
            class="logo-crop-img"
            [src]="logoUrl"
            alt=""
            (load)="onLogoImgLoad()"
            [style.transform]="logoImgTransform" />
        </div>
        <div *ngIf="!logoUrl" class="ph-mgmt-header__logo ph-mgmt-header__logo--placeholder" aria-hidden="true"></div>

        <div class="ph-mgmt-header__info">
          <h1 class="ph-mgmt-header__name">{{ printingHouse.name }}</h1>
          <p *ngIf="addressLine" class="ph-mgmt-header__address">{{ addressLine }}</p>
        </div>
      </div>

      <div #mapWrap class="ph-mgmt-header__map">
        <div class="map-wrapper">
          <div #mapEl class="printing-house-management-map"></div>
          <div #mapPin class="printing-house-management-map-pin" aria-hidden="true" hidden></div>
        </div>
      </div>
    </header>

    <section class="ph-mgmt-products">
      <h2 class="ph-mgmt-products__title">{{ 'management.printing-house.products' | translate }}</h2>

      <div *ngIf="productsLoading" class="ph-mgmt-products__loading">
        <mat-spinner diameter="32"></mat-spinner>
      </div>

      <p *ngIf="!productsLoading && productsLoadFailed" class="ph-mgmt-products__error">
        {{ 'management.printing-house.products-load-failed' | translate }}
        <button mat-button type="button" (click)="loadProducts()">
          {{ 'management.printing-house.retry' | translate }}
        </button>
      </p>

      <ul *ngIf="!productsLoading && !productsLoadFailed" class="ph-mgmt-products__list">
        <li *ngIf="isManagerMode" class="ph-mgmt-products__item ph-mgmt-products__item--add">
          <button
            mat-stroked-button
            type="button"
            class="ph-mgmt-products__add-btn"
            (click)="onAddProduct()">
            {{ 'management.printing-house.add-product' | translate }}
          </button>
        </li>

        <li *ngFor="let product of products" class="ph-mgmt-products__item">
          <div class="ph-mgmt-products__card">
            <div *ngIf="isManagerMode" class="ph-mgmt-products__actions">
              <button
                mat-icon-button
                type="button"
                class="ph-mgmt-products__icon-btn ph-mgmt-products__icon-btn--edit"
                [attr.aria-label]="'management.printing-house.edit-product' | translate"
                (click)="onEditProduct(product._id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button"
                class="ph-mgmt-products__icon-btn ph-mgmt-products__icon-btn--delete"
                [attr.aria-label]="'management.printing-house.delete-product' | translate"
                (click)="onDeleteProduct(product)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>

            <div class="ph-mgmt-products__title-block">
              <h3 class="ph-mgmt-products__name">{{ product.name_he }}</h3>
              <p *ngIf="getProductCategoryLine(product) as categoryLine" class="ph-mgmt-products__category-line">
                {{ categoryLine }}
              </p>
            </div>

            <ng-container
              *ngTemplateOutlet="productSpecTree; context: { nodes: getProductSpec(product) }"></ng-container>
          </div>
        </li>
      </ul>
    </section>
  </ng-container>
</div>

<ng-template #productSpecTree let-nodes="nodes">
  <ul *ngIf="nodes?.length" class="ph-spec-tree">
    <li *ngFor="let node of nodes" class="ph-spec-tree__item">
      <div
        class="ph-spec-tree__row"
        [class.ph-spec-tree__row--block]="node.colorPills?.length && !node.label"
        [class.ph-spec-tree__row--color-own-line]="node.colorPills?.length === 1">
        <span
          *ngIf="node.label"
          class="ph-spec-tree__label"
          [class.ph-spec-tree__label--regular]="node.emphasis === false"
          [class.ph-spec-tree__label--extra-setting]="node.isExtraSetting"
          [class.ph-spec-tree__label--muted-bold]="node.isMutedBold">{{ node.label }}</span>
        <span
          *ngIf="node.detail"
          class="ph-spec-tree__detail"
          [class.ph-spec-tree__detail--bold]="node.detailBold">{{ node.detail }}</span>
        <div *ngIf="node.colorPills?.length" class="ph-spec-color-pills">
          <span
            *ngFor="let pill of node.colorPills"
            class="ph-spec-color-pill"
            [style.background]="pill.hex"
            [style.color]="colorPillTextColor(pill.hex)">
            {{ pill.name }}
          </span>
        </div>
      </div>

      <ng-container *ngIf="node.children?.length">
        <ng-container
          *ngTemplateOutlet="productSpecTree; context: { nodes: node.children }"></ng-container>
      </ng-container>
    </li>
  </ul>
</ng-template>
