<div class="printing-house-management-page px-3 py-4" [class.zx-rtl]="isRTL" [class.text-white]="isDarkMode">
  <mat-card class="printing-house-management-card mx-auto">
    <mat-card-header>
      <mat-card-title>{{ 'management.printing-house.title' | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="isLoading" class="d-flex justify-content-center py-5">
        <mat-spinner diameter="40"></mat-spinner>
      </div>

      <div *ngIf="!isLoading && hasError" class="d-flex flex-column align-items-center gap-3 py-4">
        <div>{{ 'management.printing-house.load-failed' | translate }}</div>
        <button mat-stroked-button color="primary" type="button" (click)="load()">
          {{ 'management.printing-house.retry' | translate }}
        </button>
      </div>

      <div *ngIf="!isLoading && !hasError && printingHouse" class="d-flex flex-column gap-3 mt-3">
        <div class="printing-house-management-section-title">
          {{ 'management.printing-house.basic' | translate }}
        </div>

        <div class="row g-2 w-100 m-0">
          <div class="col-12 col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ 'printing-house-join.name' | translate }}</mat-label>
              <input matInput [value]="printingHouse.name" readonly />
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ 'printing-house-join.logo' | translate }}</mat-label>
              <input matInput [value]="printingHouse.logo?.url || printingHouse.logoUrl || ''" readonly />
            </mat-form-field>
          </div>
        </div>

        <div class="printing-house-management-section-title">
          {{ 'printing-house-join.address-title' | translate }}
        </div>

        <div class="row g-2 w-100 m-0">
          <div class="col-12 col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ 'printing-house-join.city' | translate }}</mat-label>
              <input matInput [value]="printingHouse.address.city" readonly />
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ 'printing-house-join.street' | translate }}</mat-label>
              <input matInput [value]="printingHouse.address.street" readonly />
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ 'printing-house-join.house-number' | translate }}</mat-label>
              <input matInput [value]="printingHouse.address.houseNumber" readonly />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ 'printing-house-join.apartment' | translate }}</mat-label>
              <input matInput [value]="printingHouse.address.apartment || ''" readonly />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ 'printing-house-join.floor' | translate }}</mat-label>
              <input matInput [value]="printingHouse.address.floor || ''" readonly />
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ 'printing-house-join.postal-code' | translate }}</mat-label>
              <input matInput [value]="printingHouse.address.postalCode || ''" readonly />
            </mat-form-field>
          </div>
          <div class="col-8">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ 'printing-house-join.notes' | translate }}</mat-label>
              <input matInput [value]="printingHouse.address.notes || ''" readonly />
            </mat-form-field>
          </div>
        </div>

        <div class="printing-house-management-section-title">
          {{ 'management.printing-house.location' | translate }}
        </div>

        <div class="row g-2 w-100 m-0">
          <div class="col-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ 'printing-house-join.lon' | translate }}</mat-label>
              <input matInput [value]="printingHouse.location.lon" readonly />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{ 'printing-house-join.lat' | translate }}</mat-label>
              <input matInput [value]="printingHouse.location.lat" readonly />
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

