<div class="full-screen print-page overflow-hidden min-h-0" [class.zx-rtl]="isRTL">
  <div class="d-flex flex-grow-1 print-page__row overflow-hidden min-h-0">
    <div
      class="zx-settings-nav zx-settings-nav-ph flex-shrink-0 d-flex flex-column overflow-hidden min-h-0"
      [class.zx-settings-nav-dark]="isDarkMode">
      <article class="w-100 d-flex flex-column overflow-hidden flex-grow-1 min-h-0">
        <article class="w-100 d-flex flex-column flex-grow-1 min-h-0 overflow-hidden">
          <header
            *ngIf="printingHouse"
            class="ph-print-house-header w-100 flex-shrink-0"
            [class.ph-print-house-header--dark]="isDarkMode">
            <div class="ph-print-house-header__inner">
              <app-ph-logo-crop
                *ngIf="printingHouseLogoUrl"
                class="ph-print-house-header__logo"
                [imageUrl]="printingHouseLogoUrl"
                [logo]="printingHouse.logo"
                size="62px" />
              <div
                *ngIf="!printingHouseLogoUrl"
                class="ph-print-house-header__logo ph-print-house-header__logo--placeholder"
                aria-hidden="true"></div>
              <div class="ph-print-house-header__info">
                <h6 class="ph-print-house-header__name">{{ printingHouse.name }}</h6>
                <p *ngIf="printingHouseAddressLine" class="ph-print-house-header__address">
                  {{ printingHouseAddressLine }}
                </p>
              </div>
            </div>
          </header>

          <div class="w-100 d-flex flex-column-reverse flex-md-row flex-grow-1 min-h-0 ph-print-settings-files-row">
            <!-- Files column -->
            <div class="zx-files-area-outer-outer">
              <div class="zx-files-area-outer">
                <div class="zx-files-area" [class.zx-bg-dark]="isDarkMode">
                  <div class="d-flex flex-column gap-2">
                    <div id="filesAreaPhPrint" class="zx-files-area-inner">
                      <!-- Upload tile -->
                      <article
                        matRipple
                        tabindex="0"
                        role="button"
                        class="zx-files-area-item-small c-pointer file-btn-hover rounded-3 p-2 m-lg-1 zx-border-gray-v-v-light shadow-85-light d-flex flex-column justify-content-center align-items-center position-relative"
                        [class.zx-files-area-item-tiny]="hasFiles && !uploading"
                        [class.zx-border-gray-25-pr]="isDarkMode"
                        [class.zx-page-obj-container-bg-darkmode]="isDarkMode"
                        (click)="triggerFilePicker(sidebarFileInput)">
                        <img
                          *ngIf="hasFiles && !uploading"
                          src="assets/images/upload-file-next-icon.svg"
                          class="upload-file-icon-small-next svg c-pointer"
                          alt="" />
                        <div *ngIf="!hasFiles && !uploading">
                          <img
                            src="assets/images/upload-file-icon.svg"
                            class="upload-file-icon svg c-pointer"
                            alt="" />
                        </div>
                        <div *ngIf="!uploading">
                          <h6 class="mb-0 zx-text-small fw-bold zx-text-sm-medium zx-px-10 text-center">
                            {{
                              (hasFiles
                                ? 'printing-table.upload-file-next'
                                : 'printing-table.upload-file')
                                | translate
                            }}
                          </h6>
                        </div>
                        <div
                          *ngIf="uploading"
                          class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
                          <div
                            class="w-100 d-flex flex-column flex-grow-1 justify-content-center align-items-center gap-1 gap-lg-2">
                            <b class="zx-text-big text-green">
                              <span>{{ uploadProgress }}</span>
                              <span>%</span>
                            </b>
                            <span class="zx-text-small opacity-75" *ngIf="uploadingCount > 1">
                              <span>{{ 'printing-table.file' | translate }}</span>
                              <span>1</span>
                              <span>{{ 'printing-table.out-of' | translate }}</span>
                              <span>{{ uploadingCount }}</span>
                            </span>
                          </div>
                          <div
                            class="w-100 d-flex flex-column justify-content-center align-items-center gap-1 gap-lg-2">
                            <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
                            <h6 class="zx-text-medium mb-0">
                              <span *ngIf="uploadingCount === 1">
                                {{ 'printing-table.uploading-file-one' | translate }}
                              </span>
                              <span *ngIf="uploadingCount > 1">
                                {{ 'printing-table.uploading-file-multi' | translate }}
                              </span>
                            </h6>
                          </div>
                        </div>
                      </article>
                      <input
                        #sidebarFileInput
                        type="file"
                        hidden
                        multiple
                        [attr.accept]="expressFileAccept"
                        (change)="onFilesSelected($event)" />

                      <!-- Delete all files [start] -->
                      <article
                        *ngIf="hasFiles"
                        matRipple
                        tabindex="0"
                        role="button"
                        class="zx-files-area-item-tiny c-pointer w-100 rounded-3 p-2 m-lg-1 zx-border-gray-v-v-light shadow-85-light flex-shrink-0"
                        [class.zx-border-gray-25-pr]="isDarkMode"
                        [class.zx-page-obj-container-bg-darkmode]="isDarkMode"
                        [matMenuTriggerFor]="clearAllFilesMenu">
                        <h6
                          class="mb-0 zx-text-small text-center"
                          [class.zx-text-white]="isDarkMode">
                          {{ 'printing-table.clear-all-files' | translate }}
                        </h6>
                        <div
                          class="d-flex justify-content-center align-items-center c-pointer"
                          [class.zx-bg-light]="!isDarkMode">
                          <mat-icon class="mx-0 mt-0 mb-1 p-1 zx-text-medium c-pointer">
                            delete_outline
                          </mat-icon>
                        </div>
                      </article>
                      <mat-menu #clearAllFilesMenu="matMenu">
                        <button
                          class="d-flex align-items-center gap-1 px-2"
                          mat-menu-item
                          [class.zx-ltr]="!isRTL"
                          (click)="onDeleteAllFiles()">
                          <b
                            class="text-red zx-text-small m-0"
                            [class.zx-text-white]="isDarkMode">
                            {{ 'printing-table.clear-all-files-for-good' | translate }}
                          </b>
                          <mat-icon
                            class="text-red mx-1 p-0 zx-pt-small"
                            style="min-width: 35px"
                            [class.zx-text-white]="isDarkMode">
                            delete_outline
                          </mat-icon>
                        </button>
                      </mat-menu>

                      <!-- File tiles -->
                      <article *ngFor="let file of files; trackBy: trackFileById" class="zx-file-obj">
                        <!-- Processing -->
                        <div
                          *ngIf="isFileProcessing(file)"
                          class="zx-files-area-item-small zx-img-obj-container rounded-3 pb-2 zx-border-gray-v-v-light shadow-85-light d-flex flex-column justify-content-between align-items-center position-relative"
                          [class.zx-border-gray-25-pr]="isDarkMode"
                          [class.zx-page-obj-container-bg-darkmode]="isDarkMode">
                          <div
                            class="position-absolute d-flex px-2 zx-pb-12 rounded-pill bottom-0 w-100">
                            <div
                              matRipple
                              [matMenuTriggerFor]="deleteProcessingMenu"
                              (click)="$event.stopPropagation()"
                              class="delete-button delete-button-fix-mobile d-flex justify-content-center align-items-center zx-bg-light c-pointer">
                              <mat-icon class="text-red mx-0 mt-0 mb-1 p-1 zx-text-medium c-pointer">
                                delete_outline
                              </mat-icon>
                            </div>
                            <mat-menu #deleteProcessingMenu="matMenu">
                              <button
                                class="d-flex align-items-center gap-1 px-2"
                                mat-menu-item
                                [class.zx-ltr]="!isRTL"
                                (click)="onDeleteFile(file)">
                                <b
                                  class="text-red zx-text-small m-0"
                                  [class.zx-text-white]="isDarkMode">
                                  {{ 'printing-table.delete-file-for-good' | translate }}
                                </b>
                                <mat-icon
                                  class="text-red mx-1 p-0 zx-pt-small"
                                  [class.zx-text-white]="isDarkMode">
                                  delete_outline
                                </mat-icon>
                              </button>
                            </mat-menu>
                          </div>
                          <div class="w-100 d-flex justify-content-center align-items-center">
                            <span class="opacity-trans" [class.opacity-trans-not-rtl]="!isRTL">
                              <span class="zx-text-tiny fw-bold">
                                {{ getDisplayFileName(file) | slice: 0 : 16 }}
                              </span>
                              <span
                                class="zx-text-tiny"
                                *ngIf="getDisplayFileName(file).length > 16">
                                ...
                              </span>
                            </span>
                          </div>
                          <div class="zx-small-icon-size zx-small-plus-icon-size-lg">
                            <mat-spinner class="w-100 h-100"></mat-spinner>
                          </div>
                          <h6
                            class="mb-0 zx-text-small text-center opacity-trans zx-z-index-1"
                            [class.opacity-trans-not-rtl]="!isRTL"
                            [matTooltip]="'printing-table.proccessing.explain' | translate"
                            matTooltipPosition="above">
                            {{ 'printing-table.proccessing' | translate }}
                          </h6>
                        </div>

                        <!-- Ready -->
                        <article
                          *ngIf="!isFileProcessing(file)"
                          tabindex="0"
                          role="button"
                          class="zx-page-obj"
                          (click)="selectFile(file)"
                          (keyup.enter)="selectFile(file)">
                          <div
                            class="zx-img-obj-container-container c-pointer rounded-3 d-flex flex-column zx-border-gray-v-v-light shadow-85-light w-100 h-100 flex-grow-1"
                            [class.zx-border-choosen]="isSelected(file)"
                            [class.zx-border-gray-25-pr]="isDarkMode"
                            [class.bg-white]="isDarkMode">
                            <span
                              class="zx-text-tiny fw-bold w-100 text-center"
                              [class.text-green]="isSelected(file)"
                              [class.text-black-imp]="isDarkMode && !isSelected(file)"
                              [class.text-green-imp]="isSelected(file) && isDarkMode">
                              <span>{{ getDisplayFileName(file) | slice: 0 : 16 }}</span>
                              <span class="zx-text-tiny" *ngIf="getDisplayFileName(file).length > 16">
                                ...
                              </span>
                            </span>
                            <div class="zx-img-obj-container">
                              <img
                                [src]="file.thumbnailUrl"
                                class="zx-img-obj"
                                alt="" />
                              <div
                                class="position-absolute d-none d-md-flex px-2 zx-pb-12 rounded-pill bottom-0 zx-z-index-1 w-100">
                                <div
                                  matRipple
                                  [matMenuTriggerFor]="deleteReadyMenu"
                                  (click)="$event.stopPropagation()"
                                  class="delete-button d-flex justify-content-center align-items-center zx-bg-light c-pointer">
                                  <mat-icon class="text-red mx-0 mt-0 mb-1 p-1 zx-text-medium">
                                    delete_outline
                                  </mat-icon>
                                </div>
                                <mat-menu #deleteReadyMenu="matMenu">
                                  <button
                                    class="d-flex align-items-center gap-1 px-2"
                                    mat-menu-item
                                    [class.zx-ltr]="!isRTL"
                                    (click)="onDeleteFile(file)">
                                    <b
                                      class="text-red zx-text-small m-0"
                                      [class.zx-text-white]="isDarkMode">
                                      {{ 'printing-table.delete-file-for-good' | translate }}
                                    </b>
                                    <mat-icon
                                      class="text-red mx-1 p-0 zx-pt-small"
                                      [class.zx-text-white]="isDarkMode">
                                      delete_outline
                                    </mat-icon>
                                  </button>
                                </mat-menu>
                              </div>
                            </div>
                          </div>
                        </article>
                      </article>

                      <!-- Delete all files [end — when many files] -->
                      <article
                        *ngIf="showEndDeleteAll"
                        matRipple
                        tabindex="0"
                        role="button"
                        class="zx-files-area-item-tiny c-pointer w-100 rounded-3 p-2 m-lg-1 zx-border-gray-v-v-light shadow-85-light flex-shrink-0"
                        [class.zx-border-gray-25-pr]="isDarkMode"
                        [class.zx-page-obj-container-bg-darkmode]="isDarkMode"
                        [matMenuTriggerFor]="clearAllFilesMenuEnd">
                        <h6
                          class="mb-0 zx-text-small text-center"
                          [class.zx-text-white]="isDarkMode">
                          {{ 'printing-table.clear-all-files' | translate }}
                        </h6>
                        <div
                          class="d-flex justify-content-center align-items-center c-pointer"
                          [class.zx-bg-light]="!isDarkMode">
                          <mat-icon class="mx-0 mt-0 mb-1 p-1 zx-text-medium c-pointer">
                            delete_outline
                          </mat-icon>
                        </div>
                      </article>
                      <mat-menu #clearAllFilesMenuEnd="matMenu">
                        <button
                          class="d-flex align-items-center gap-1 px-2"
                          mat-menu-item
                          [class.zx-ltr]="!isRTL"
                          (click)="onDeleteAllFiles()">
                          <b
                            class="text-red zx-text-small m-0"
                            [class.zx-text-white]="isDarkMode">
                            {{ 'printing-table.clear-all-files-for-good' | translate }}
                          </b>
                          <mat-icon
                            class="text-red mx-1 p-0 zx-pt-small"
                            style="min-width: 35px"
                            [class.zx-text-white]="isDarkMode">
                            delete_outline
                          </mat-icon>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Settings column (empty for now) -->
            <div class="zx-settings-area mh-100 zx-mw-100-vw position-relative min-h-0">
              <div
                id="zx-settings-area-inner"
                class="zx-settings-area-inner w-100 h-100 mh-100 zx-mw-100-vw position-absolute d-flex flex-column gap-3"
                [class.zx-settings-area-inner-rtl]="!isRTL">
                <div class="ph-print-settings-panel w-100 flex-grow-1 d-flex flex-column gap-3">
                  <!-- Product name (display only) -->
                  <article
                    *ngIf="hasSettingsReadyFile && productName"
                    class="ph-print-settings-product w-100 d-flex align-items-center ph-settings-row"
                    [class.ph-settings-row--stacked]="productSettingsWrap"
                    [class.justify-content-between]="!productSettingsWrap"
                    [class.zx-min-h-50]="!productSettingsWrap">
                    <span>{{ 'printing-table.product' | translate }}</span>
                    <div
                      class="d-flex position-relative ph-settings-toggle-host"
                      [class.justify-content-center]="productSettingsWrap"
                      [class.justify-content-end]="!productSettingsWrap">
                      <mat-button-toggle-group
                        class="ph-settings-display-toggle"
                        [style.width]="'auto'"
                        [style.max-width]="productSettingsWrap ? '100%' : 'none'"
                        name="product-name"
                        [ngModel]="productNameToggle">
                        <mat-button-toggle
                          class="zx-rtl position-relative"
                          [value]="0"
                          [class.zx-text-white]="isDarkMode">
                          <span>{{ productName }}</span>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>
                  </article>

                  <!-- Fixed: type buttons — hidden when only one option -->
                  <article
                    *ngIf="isFixedProduct && hasSettingsReadyFile && fixedDimensionOptions.length > 1"
                    class="w-100 d-flex align-items-center ph-settings-row"
                    [class.ph-settings-row--stacked]="fixedTypeSettingsWrap"
                    [class.justify-content-between]="!fixedTypeSettingsWrap"
                    [class.zx-min-h-50]="!fixedTypeSettingsWrap">
                    <span>{{ 'printing-table.type' | translate }}</span>
                    <div
                      class="d-flex position-relative ph-settings-toggle-host"
                      [class.justify-content-center]="fixedTypeSettingsWrap"
                      [class.justify-content-end]="!fixedTypeSettingsWrap">
                      <mat-button-toggle-group
                        *ngIf="!fixedTypeSettingsWrap"
                        name="fixed-size"
                        aria-label="Fixed size"
                        [ngModel]="currentFixedOptionIndex"
                        (ngModelChange)="onFixedOptionChange($event)">
                        <mat-button-toggle
                          *ngFor="let option of fixedDimensionOptions"
                          class="zx-rtl position-relative"
                          [value]="option.optionIndex"
                          [class.zx-text-white]="isDarkMode">
                          <span>{{ option.label }}</span>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                      <div
                        *ngIf="fixedTypeSettingsWrap"
                        class="ph-settings-individual-toggles justify-content-center">
                        <mat-button-toggle-group
                          *ngFor="let option of fixedDimensionOptions"
                          [name]="'fixed-size-' + option.optionIndex"
                          aria-label="Fixed size"
                          [ngModel]="currentFixedOptionIndex"
                          (ngModelChange)="onFixedOptionChange($event)">
                          <mat-button-toggle
                            class="zx-rtl position-relative"
                            [value]="option.optionIndex"
                            [class.zx-text-white]="isDarkMode">
                            <span>{{ option.label }}</span>
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                    </div>
                  </article>

                  <!-- Dynamic: length × width inputs only -->
                  <article
                    *ngIf="isDynamicProduct && hasSettingsReadyFile && selectedDynamicMaterial"
                    class="zx-min-h-50 w-100 d-flex justify-content-between align-items-center flex-wrap gap-2">
                    <span>{{ 'printing-table.dimensions' | translate }}</span>
                    <div class="ph-dim-inputs-wrap d-flex flex-column align-items-end gap-1">
                      <div class="d-flex align-items-center gap-1">
                        <input
                          type="number"
                          class="form-control ph-dim-input"
                          [step]="0.1"
                          [(ngModel)]="printingLengthCm"
                          (blur)="onPrintingLengthBlur()"
                          [placeholder]="selectedDynamicMaterial.defaultLength"
                          [attr.aria-label]="'management.product-create.dimension-length' | translate" />
                        <span>×</span>
                        <input
                          type="number"
                          class="form-control ph-dim-input"
                          [step]="0.1"
                          [(ngModel)]="printingWidthCm"
                          (blur)="onPrintingWidthBlur()"
                          [placeholder]="selectedDynamicMaterial.defaultHeight"
                          [attr.aria-label]="'management.product-create.dimension-width' | translate" />
                        <span>{{ 'printing-table.dimensions-cm' | translate }}</span>
                      </div>
                      <mat-icon
                        (click)="swapWidthHeight()"
                        class="c-pointer text-green ph-dim-swap-icon">
                        swap_horiz
                      </mat-icon>
                    </div>
                  </article>

                  <!-- Fixed: material buttons below size -->
                  <article
                    *ngIf="isFixedProduct && hasSettingsReadyFile && fixedMaterialsForSelectedSize.length"
                    class="w-100 d-flex align-items-center ph-settings-row"
                    [class.ph-settings-row--stacked]="fixedMaterialSettingsWrap"
                    [class.justify-content-between]="!fixedMaterialSettingsWrap"
                    [class.zx-min-h-50]="!fixedMaterialSettingsWrap">
                    <span>{{ 'printing-table.3dprint-material' | translate }}</span>
                    <div
                      class="d-flex position-relative ph-settings-toggle-host"
                      [class.justify-content-center]="fixedMaterialSettingsWrap"
                      [class.justify-content-end]="!fixedMaterialSettingsWrap">
                      <mat-button-toggle-group
                        *ngIf="!fixedMaterialSettingsWrap"
                        name="fixed-material"
                        aria-label="Fixed material"
                        [ngModel]="currentMaterialIndex"
                        (ngModelChange)="onMaterialChange($event)">
                        <mat-button-toggle
                          *ngFor="let material of fixedMaterialsForSelectedSize; let materialIndex = index"
                          class="zx-rtl position-relative"
                          [value]="materialIndex"
                          [class.zx-text-white]="isDarkMode">
                          <span>{{ getMaterialLabel(material) }}</span>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                      <div
                        *ngIf="fixedMaterialSettingsWrap"
                        class="ph-settings-individual-toggles justify-content-center">
                        <mat-button-toggle-group
                          *ngFor="let material of fixedMaterialsForSelectedSize; let materialIndex = index"
                          [name]="'fixed-material-' + materialIndex"
                          aria-label="Fixed material"
                          [ngModel]="currentMaterialIndex"
                          (ngModelChange)="onMaterialChange($event)">
                          <mat-button-toggle
                            class="zx-rtl position-relative"
                            [value]="materialIndex"
                            [class.zx-text-white]="isDarkMode">
                            <span>{{ getMaterialLabel(material) }}</span>
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                    </div>
                  </article>

                  <!-- Dynamic: material buttons below dimensions — hidden when only one option -->
                  <article
                    *ngIf="isDynamicProduct && hasSettingsReadyFile && dynamicMaterials.length > 1"
                    class="w-100 d-flex align-items-center ph-settings-row"
                    [class.ph-settings-row--stacked]="dynamicMaterialSettingsWrap"
                    [class.justify-content-between]="!dynamicMaterialSettingsWrap"
                    [class.zx-min-h-50]="!dynamicMaterialSettingsWrap">
                    <span>{{ 'printing-table.3dprint-material' | translate }}</span>
                    <div
                      class="d-flex position-relative ph-settings-toggle-host"
                      [class.justify-content-center]="dynamicMaterialSettingsWrap"
                      [class.justify-content-end]="!dynamicMaterialSettingsWrap">
                      <mat-button-toggle-group
                        *ngIf="!dynamicMaterialSettingsWrap"
                        name="dynamic-material"
                        aria-label="Dynamic material"
                        [ngModel]="currentMaterialIndex"
                        (ngModelChange)="onMaterialChange($event)">
                        <mat-button-toggle
                          *ngFor="let material of dynamicMaterials; let materialIndex = index"
                          class="zx-rtl position-relative"
                          [value]="materialIndex"
                          [class.zx-text-white]="isDarkMode">
                          <span>{{ getMaterialLabel(material) }}</span>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                      <div
                        *ngIf="dynamicMaterialSettingsWrap"
                        class="ph-settings-individual-toggles justify-content-center">
                        <mat-button-toggle-group
                          *ngFor="let material of dynamicMaterials; let materialIndex = index"
                          [name]="'dynamic-material-' + materialIndex"
                          aria-label="Dynamic material"
                          [ngModel]="currentMaterialIndex"
                          (ngModelChange)="onMaterialChange($event)">
                          <mat-button-toggle
                            class="zx-rtl position-relative"
                            [value]="materialIndex"
                            [class.zx-text-white]="isDarkMode">
                            <span>{{ getMaterialLabel(material) }}</span>
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                    </div>
                  </article>

                  <!-- Color buttons for selected material — hidden when only one option -->
                  <article
                    *ngIf="hasSettingsReadyFile && colorsForSelectedMaterial.length > 1"
                    class="w-100 d-flex align-items-center ph-settings-row"
                    [class.ph-settings-row--stacked]="colorSettingsWrap"
                    [class.justify-content-between]="!colorSettingsWrap"
                    [class.zx-min-h-50]="!colorSettingsWrap">
                    <span>{{ 'printing-table.color' | translate }}</span>
                    <div
                      class="d-flex position-relative ph-settings-toggle-host"
                      [class.justify-content-center]="colorSettingsWrap"
                      [class.justify-content-end]="!colorSettingsWrap">
                      <mat-button-toggle-group
                        *ngIf="!colorSettingsWrap"
                        name="print-color"
                        aria-label="Print color"
                        [ngModel]="currentColorIndex"
                        (ngModelChange)="onColorChange($event)">
                        <mat-button-toggle
                          *ngFor="let color of colorsForSelectedMaterial; let colorIndex = index"
                          class="zx-rtl position-relative"
                          [value]="colorIndex"
                          [class.zx-text-white]="isDarkMode">
                          <span class="ph-settings-color-toggle">
                            <span
                              class="ph-settings-color-swatch"
                              [ngStyle]="getColorSwatchStyles(color)"></span>
                            <span>{{ getColorLabel(color) }}</span>
                          </span>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                      <div
                        *ngIf="colorSettingsWrap"
                        class="ph-settings-individual-toggles justify-content-center">
                        <mat-button-toggle-group
                          *ngFor="let color of colorsForSelectedMaterial; let colorIndex = index"
                          [name]="'print-color-' + colorIndex"
                          aria-label="Print color"
                          [ngModel]="currentColorIndex"
                          (ngModelChange)="onColorChange($event)">
                          <mat-button-toggle
                            class="zx-rtl position-relative"
                            [value]="colorIndex"
                            [class.zx-text-white]="isDarkMode">
                            <span class="ph-settings-color-toggle">
                              <span
                                class="ph-settings-color-swatch"
                                [ngStyle]="getColorSwatchStyles(color)"></span>
                              <span>{{ getColorLabel(color) }}</span>
                            </span>
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                    </div>
                  </article>

                  <!-- Extra print settings (corners, bleed, folding, duplex, double-sided) -->
                  <ng-container *ngFor="let row of extraSettingRows; trackBy: trackExtraSettingRow">
                    <article
                      *ngIf="row.display === 'single-toggle'"
                      class="zx-min-h-50 w-100 d-flex justify-content-between align-items-center">
                      <span>{{ row.settingTitle }}</span>
                      <div class="d-flex position-relative ph-settings-toggle-host justify-content-end">
                        <mat-button-toggle-group
                          class="ph-settings-display-toggle"
                          [style.width]="'auto'"
                          [name]="'extra-display-' + row.key"
                          [ngModel]="extraDisplayToggleValue">
                          <mat-button-toggle
                            class="zx-rtl position-relative"
                            [value]="extraDisplayToggleValue"
                            [class.zx-text-white]="isDarkMode">
                            <span>{{ row.singleRowLabel }}</span>
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                    </article>

                    <article
                      *ngIf="row.display === 'boolean-toggle'"
                      class="zx-min-h-50 w-100 d-flex justify-content-between align-items-center">
                      <span>{{ row.settingTitle }}</span>
                      <mat-button-toggle-group
                        [name]="'extra-enabled-' + row.key"
                        [attr.aria-label]="row.settingTitle"
                        [ngModel]="extraSettingsUi[row.key]?.enabled ?? false"
                        (ngModelChange)="onExtraSettingEnabledChange(row.key, $event)">
                        <mat-button-toggle
                          class="zx-rtl position-relative"
                          [value]="false"
                          [class.zx-text-white]="isDarkMode">
                          <span>{{ row.toggleOffLabel }}</span>
                        </mat-button-toggle>
                        <mat-button-toggle
                          class="zx-rtl position-relative"
                          [value]="true"
                          [class.zx-text-white]="isDarkMode">
                          <span>{{ row.toggleOnLabel }}</span>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                    </article>

                    <article
                      *ngIf="row.display === 'multi-buttons'"
                      class="w-100 d-flex align-items-center ph-settings-row"
                      [class.ph-settings-row--stacked]="row.wrap"
                      [class.justify-content-between]="!row.wrap"
                      [class.zx-min-h-50]="!row.wrap">
                      <span>{{ row.settingTitle }}</span>
                      <div
                        class="d-flex position-relative ph-settings-toggle-host"
                        [class.justify-content-center]="row.wrap"
                        [class.justify-content-end]="!row.wrap">
                        <mat-button-toggle-group
                          *ngIf="!row.wrap"
                          [name]="'extra-option-' + row.key"
                          [attr.aria-label]="row.settingTitle"
                          [ngModel]="getExtraOptionToggleValue(row.key)"
                          (ngModelChange)="onExtraOptionToggleChange(row.key, $event)">
                          <mat-button-toggle
                            *ngFor="let option of row.options"
                            class="zx-rtl position-relative"
                            [value]="option.index"
                            [class.zx-text-white]="isDarkMode">
                            <span>{{ option.label }}</span>
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                        <div
                          *ngIf="row.wrap"
                          class="ph-settings-individual-toggles justify-content-center">
                          <mat-button-toggle-group
                            *ngFor="let option of row.options"
                            [name]="'extra-option-' + row.key + '-' + option.index"
                            [attr.aria-label]="row.settingTitle"
                            [ngModel]="getExtraOptionToggleValue(row.key)"
                            (ngModelChange)="onExtraOptionToggleChange(row.key, $event)">
                            <mat-button-toggle
                              class="zx-rtl position-relative"
                              [value]="option.index"
                              [class.zx-text-white]="isDarkMode">
                              <span>{{ option.label }}</span>
                            </mat-button-toggle>
                          </mat-button-toggle-group>
                        </div>
                      </div>
                    </article>
                  </ng-container>
                  <span class="ph-print-settings-bottom-spacer" aria-hidden="true"></span>
                </div>
              </div>
            </div>
          </div>
        </article>
      </article>

      <!-- Price footer [desktop] -->
      <div
        class="w-100 shadow-85-top-strong px-3 pt-2 zx-z-index-1 bg-white d-none d-md-flex justify-content-between align-items-center flex-shrink-0"
        [class.zx-bg-dark]="isDarkMode">
        <span class="text-green d-flex align-items-center gap-1">
          <span class="zx-text-tiny d-flex align-items-center gap-1">
            <b class="zx-text-small">{{ 'printing-table.total-price' | translate }}</b>
            <span *ngIf="hasFiles" class="d-flex align-items-center gap-1">
              <span>(</span>
              <span *ngIf="finishedCount > 0">
                <b *ngIf="finishedCount > 1">{{ finishedCount }}</b>
                <b class="zx-text-tiny" *ngIf="finishedCount > 1">
                  {{ 'printing-table.files' | translate }}
                </b>
                <b class="zx-text-tiny" *ngIf="finishedCount === 1">
                  {{ 'printing-table.one-file' | translate }}
                </b>
              </span>
              <span *ngIf="finishedCount > 0 && processingFiles.length > 0">, </span>
              <span class="opacity-trans" *ngIf="processingFiles.length > 0">
                <b *ngIf="processingFiles.length > 1">{{ processingFiles.length }}</b>
                <b class="zx-text-tiny" *ngIf="processingFiles.length > 1">
                  {{ 'printing-table.files' | translate }}
                </b>
                <b class="zx-text-tiny" *ngIf="processingFiles.length === 1">
                  {{ 'printing-table.one-file' | translate }}
                </b>
                <b class="zx-text-tiny">{{ 'printing-table.still-proccessing' | translate }}</b>
              </span>
              <span>)</span>
            </span>
          </span>
        </span>
        <span class="text-green zx-text-small" [class.zx-text-white]="isDarkMode">
          <span>-</span>
          <span>{{ 'printing-table.nis' | translate }}</span>
        </span>
      </div>

      <!-- Main CTA -->
      <div class="w-100 p-2 zx-z-index-1 bg-white flex-shrink-0" [class.zx-bg-dark]="isDarkMode">
        <button
          mat-raised-button
          color="primary"
          type="button"
          class="text-white rounded-pill w-100 zx-small-btn"
          (click)="onContinue()">
          <b class="d-none d-sm-inline">{{ 'ph-print.continue' | translate }}</b>
          <b class="d-sm-none">{{ 'choose-system.continue' | translate }}</b>
        </button>
        <div class="d-md-none text-center text-green mt-2 zx-text-small fw-bold">
          <span>- {{ 'printing-table.nis' | translate }}</span>
        </div>
      </div>
    </div>

    <!-- Preview pane [desktop] -->
    <article
      class="d-none d-md-flex flex-grow-1 h-100 zx-p-preview-container overflow-hidden position-relative"
      [class.bg-white]="!isDarkMode">
      <div
        id="preview-container"
        class="d-flex w-100 h-100 justify-content-center align-items-center">
        <article *ngIf="!hasFiles" class="no-image-selected-container w-100 h-100">
          <article class="no-image-selected-inner" [class.no-image-selected-inner-not-rtl]="!isRTL">
            <div
              *ngIf="!uploading"
              tabindex="0"
              role="button"
              class="no-image-selected-upload-file file-btn-hover c-pointer"
              (click)="triggerFilePicker(previewFileInput)">
              <h4 class="mb-0 fw-bold zx-px-10 text-center c-pointer">
                {{ 'printing-table.upload-file' | translate }}
              </h4>
              <img
                src="assets/images/upload-file-icon.svg"
                class="upload-file-icon-big svg c-pointer pt-2"
                alt="" />
              <p class="text-center zx-text-big c-pointer mb-0" style="max-width: 60%">
                {{ 'printing-table.upload-file-desktop' | translate }}
              </p>
            </div>
            <div
              *ngIf="uploading"
              class="no-image-selected-upload-file file-btn-hover d-flex flex-column justify-content-center align-items-center position-relative">
              <div
                class="w-100 d-flex flex-column justify-content-center align-items-center gap-1 gap-lg-2">
                <b class="zx-text-big text-green">
                  <span>{{ uploadProgress }}</span>
                  <span>%</span>
                </b>
                <span class="zx-text-small opacity-75" *ngIf="uploadingCount > 1">
                  <span>{{ 'printing-table.file' | translate }}</span>
                  <span>1</span>
                  <span>{{ 'printing-table.out-of' | translate }}</span>
                  <span>{{ uploadingCount }}</span>
                </span>
              </div>
              <div
                class="w-100 d-flex flex-column justify-content-center align-items-center gap-1 gap-lg-2 px-4">
                <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
                <h6 class="zx-text-medium mb-0">
                  <span *ngIf="uploadingCount === 1">
                    {{ 'printing-table.uploading-file-one' | translate }}
                  </span>
                  <span *ngIf="uploadingCount > 1">
                    {{ 'printing-table.uploading-file-multi' | translate }}
                  </span>
                </h6>
              </div>
            </div>
          </article>
        </article>
        <input
          #previewFileInput
          type="file"
          hidden
          multiple
          [attr.accept]="expressFileAccept"
          (change)="onFilesSelected($event)" />

        <div
          *ngIf="hasFiles && previewThumbnailUrl"
          id="preview-paper"
          class="bg-white shadow-85-strong d-flex flex-column justify-content-center align-items-center position-relative"
          [class.zx-canvas-dark]="isDarkMode">
          <div id="preview-image-container" class="position-absolute ph-print-preview-image-wrap">
            <img
              [src]="previewThumbnailUrl!"
              class="zx-preview-img ph-print-preview-img"
              alt="" />
          </div>
        </div>

        <p
          *ngIf="hasFiles && !previewThumbnailUrl"
          class="zx-text-small opacity-75 mb-0 text-center px-3">
          {{ 'printing-table.still-proccessing' | translate }}
        </p>
      </div>
    </article>
  </div>
</div>
